body {
    align-items: center;
    
}
.social-icons{
    border:1px solid #81a884;
    padding:3px;
}
.social-icons:hover{
    border:1px solid #000;
    padding:3px;
}

.fab {
    margin: 10px;
    font-size: 35px;
    color: #698a6b;
    align-items: center;
    
  }
  
  .fab:hover{
      color: #000;
  }

.fas-file {
    margin: 5px;
    font-size: 35px;
    color: #698a6b;
    align-items: center;
    text-decoration: none;
}

.fa-file{
    padding:3px;
}

a:link {
    text-decoration: none;
    font-size: 25px;
    align-items: center;
}
a:hover {
    color: #698a6b;
}
@media only screen and (max-width: 768px) {
.contact-info{
overflow-x: hidden;
width:100%;
}
.fab {
    margin: 5px;
    font-size: 35px;
    color: #698a6b;
    align-items: center;
    
  }

}
